// partials first
@import '**/[_]*.{scss,css}';
// everything else after
@import '**/[^_]*.{scss,css}';

body {
  background: #dedede;
  color: #666;
  font-size: 14px;
  margin: 0px;
}

a {
  color: #666;
  text-decoration: none;
}

#page {
  position: relative;
  margin: 0px auto;
  width: 900px;
}

header {
  height: 120px;

  margin-top: 12px;

  padding-top: 30px;
  padding-left: 115px;

  background: image-url('zaphod.png');
  background-repeat: no-repeat;

  h1 {
    margin-bottom: 15px;

    font-size: 45px;
    font-weight: normal;
  }
  a {
    font-size: 18px;

    background: #FFF;

    padding: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 7px;
  }
}

.actions {
  a {
    background-color: #578ad6;
    border: 1px solid #578ad6;

    padding: 7px 12px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    @include grad(#578ad6,#2c70d6);

    &:hover {
      background: #578ad6;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.logout {
  position: absolute;
  top: 80px;
  left: 250px;
}

.saved {
  border: 5px solid green;
}
