<dl>
  <dt>ID</dt>
  <dd>{{id}}</dd>
  <dt>FRONT</dt>
  <dd><textarea class="front" style="width:400px;height:50px">{{front}}</textarea></dd>
  <dt>BACK</dt>
  <dd><textarea class="back" style="width:400px;height:100px">{{back}}</textarea></dd>
</dl>
<div>
  <button class="save">Save</button>
  <button class="destroy">destroy</button>
</div>
<hr>
