<article class="card">
  <label for="front">Front</label>
  <textarea id="front" class="front" style="width:400px;height:50px">{{front}}</textarea>
  <label for="back">Back</label>
  <textarea id="back" class="back" style="width:400px;height:100px">{{back}}</textarea>

  <div>
    <button class="save">Save</button>
    <button class="destroy">destroy</button>
  </div>
</article>
