<h3>Collaborators</h3>
<ul>
  {{#each this}}
  <li>{{name}} ({{role}})</li>
  {{/each}}
</ul>

<div class="collab_form">
  <select class="collab_name">
    <option>User</option>
    {{#users}}
    <option value="{{id}}">{{name}}</option>
    {{/users}}
  </select>
  <select class="collab_role">
    <option>Role</option>
    <option value="owner">Owner</option>
    <option value="editor">Editor</option>
    <option value="viewer">Viewer</option>
  </select>
  <button class="add_collab">Add Collaborator</button>
</div>
