<h3>Collaborators</h3>
<table id="collaborators_list"></table>

<div>
  <select class="user">
    <option>User</option>
    {{#users}}
    <option value="{{id}}">{{name}}</option>
    {{/users}}
  </select>
  <select class="role">
    <option>Role</option>
    <option value="owner">Owner</option>
    <option value="editor">Editor</option>
    <option value="viewer">Viewer</option>
  </select>
  <button class="add">Add Collaborator</button>
</div>
