{{#if name}}
Hi {{name}}<br>
<button class="logout">Logout</button>
{{else}}
Email: <input name="email" type="email"><br>
Password: <input name="password" type="password"><br>
<button class="login">Login</button>
{{/if}}
