{{#if name}}
Hi {{name}}<br>
<button class="logout">Logout</button>
{{else}}
<label for="email">Email: </label><input name="email" id="email" type="email" placeholder="max.musterman@example.com"><br>
<label for="password">Password: </label><input name="password" id="password" type="password" placeholder="********"><br>
<button class="login">Login</button>
{{/if}}
