<h2>{{title}}</h2>
<p>{{description}}</p>

{{#if canChangeCollaborators}}
<div class="collaborators"></div>
{{/if}}

<div class="cards"></div>
<div class="actions">
<a href="/decks/{{id}}/learn">Learn</a>
</div>
