ID: {{id}}<br>
Title: <input class="title" value="{{title}}"><br>
Description: <textarea class="description" style="width:400px;height:100px">{{description}}</textarea><br>
<button class="save">Save</button><br>
<hr>
