<article class="deck">
	<h1><input class="title" value="{{title}}"/></h1>
	<p><textarea class="description">{{description}}</textarea></p>
	<div class="details">
		<div class="cards">n Cards</div>
		<div class="collaborators">n Collaborators</div>
	</div>
	<nav class="actions">
		<button class="save">Bearbeiten</button>
		<button class="learn">Lernen</button>
		<button class="destroy">Löschen</button>
	</nav>
</article>
