<h1>Zaphod ist dein Anlaufpunkt…</h1>
<p>…wenn es um Karteikarten lernen im Internet geht. Jederzeit von einem Gerät deiner Wahl neue Karten anlegen und bearbeiten, oder einfach nur zum schnellen lernen zwischendurch vorbei schauen.</p>
<p> Dein Ziel, ist unser Weg.</p>
