<h1>Sign Up</h1>
<label for="email">Email: </label><input name="email" id="email" type="email" placeholder="my_shiny_new_account@example.com"><br>
<label for="password">Password: </label><input name="password" id="password" type="password" placeholder="********"><br>
<button class="signup">Sign up</button>
