!!!5
%html
  %head
    %title=  [params[:controller].capitalize,"Zaphod"].compact.join(" – ")
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      %header
        %h1 Zaphod
        %nav
          %a#decks_link{href: '/decks'} Sammlungen
      #current_user
      #content
        %h1 Zaphod ist dein Anlaufpunkt…
        %p …wenn es um Karteikarten lernen im Internet geht. Jederzeit von einem Gerät deiner Wahl neue Karten anlegen und bearbeiten, oder einfach nur zum schnellen lernen zwischendurch vorbei schauen.
        %p Dein Ziel, ist unser Weg.
